<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% if variable == "x2h" %}
            XLSX to HTML Conversion
        {% elif variable == "c2h" %}
            CSV to HTML Conversion
        {% elif variable == "h2x" %}
            HTML to XLSX Conversion
        {% elif variable == "h2c" %}
            HTML to CSV Conversion
        {% endif %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/convert-css.css">
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.png">
</head>
<body>
    <div id="loader-wrapper">
        <img src="/static/images/icon.png" alt="loader-img" id="loader"></img>
    </div>
    <a href="{{url_for('home')}}"><img src="/static/images/icon.png" alt="logo" id="logo"></a>
    <div class="container">
        <h2 class="text-center mb-5" id="heading">
            {% if variable == "x2h" %}
                CONVERT XLSX TO HTML
            {% elif variable == "c2h" %}
                CONVERT CSV TO HTML
            {% elif variable == "h2x" %}
                CONVERT HTML TO XLSX
            {% elif variable == "h2c" %}
                CONVERT HTML TO CSV
            {% endif %}
        </h2>
        <div class="row">
            <div class="col-xs-12">
                <form action = "/success/{{variable}}" method = "post" enctype="multipart/form-data" id="form" class="text-center">
                    <label for="file" id="file-label">
                        <div class="wrapper">
                            <img src="/static/images/cloud.png" alt="cloud-img" id="cloud-img">
                            <p id="file-text">Drop your file or click here to browse</p>
                            <p id="limit-text">(Upload file below 800 KB)</p>
                            <input type="file" name="file" id="file"/>
                        </div>
                    </label>
                    {% if variable == "x2h" or variable == "c2h" %}
                        <!--<input type="submit" value="Convert" id="cBtn" class="submitBtn">-->
                        <button type="button" class="btn btn-outline-light fsubmitBtn" id="cfBtn" onclick="submitFile()">Convert</button>
                    {% elif variable == "h2x" or variable == "h2c" %}
                        <button type="button" class="btn btn-outline-light fsubmitBtn" id="cdfBtn" onclick="submitFile()">Convert and Download</button>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
    <footer>Developed by &copy; <a href="https://www.linkedin.com/in/dishank-shah-826528237" target="_blank">Dishank Shah</a></footer>

    <script>

        window.onload = function(){
            resetStyle();

            {% if err != "0" %}
                alert("{{err}}");
            {% endif %}


            var fileInput = document.getElementById('file');
            var fileLabel = document.getElementById('file-label');
            var cloudImg = document.getElementById('cloud-img');
            var fileText = document.getElementById('file-text');
            var limitText = document.getElementById('limit-text');
            var cBtn = document.getElementById('cBtn');
            var cdBtn = document.getElementById('cdBtn');

            fileInput.addEventListener('change', handleFileSelect);
            fileLabel.addEventListener('dragover', handleDragOver);
            fileLabel.addEventListener('dragleave', handleDragLeave);
            fileLabel.addEventListener('drop', handleDrop);

            function handleFileSelect(event) {
                fileInput.files = event.target.files;
                var files = event.target.files;
                updateFileDetails(files);
            }

            function handleDragOver(event) {
                event.preventDefault();
                fileText.innerText = "Drop Here";
                limitText.innerText = "";
            }

            function handleDragLeave(event) {
                event.preventDefault();
                fileText.innerText = "Drop your file or click here to browse";
                limitText.innerText = "(Upload file below 800 KB)";
            }

            function handleDrop(event){
                event.preventDefault();
                cloudImg.src = "/static/images/cloud.png";
                fileText.innerText = "Drop your file or click here to browse";
                limitText.innerText = "(Upload file below 800 KB)";
                fileInput.files = event.dataTransfer.files;
                var files = event.dataTransfer.files;
                updateFileDetails(files);
            }

            function updateFileDetails(files) {
                var fileSize = files[0].size;
                var sizeInKB = (fileSize / 1024).toFixed(2);
                if(sizeInKB > 800){
                    fileInput.value = "";
                    alert("File size is " + sizeInKB + " KB. Keep it below 800 KB!");
                }
                else{
                    var fileName = files[0].name;
                    fileText.innerText = fileName;
                    limitText.innerText = "";
                    {% if variable == "x2h" %}
                        cloudImg.src = "/static/images/xlsx.png";
                    {% elif variable == "c2h" %}
                        cloudImg.src = "/static/images/csv.png";
                    {% elif variable == "h2x" %}
                        cloudImg.src = "/static/images/html.png";
                    {% elif variable == "h2c" %}
                        cloudImg.src = "/static/images/html.png";
                    {% endif %}
                }
            }
        }
        function resetStyle(){
            let cloudImg = document.getElementById('cloud-img');
            let fileText = document.getElementById('file-text');
            let limitText = document.getElementById('limit-text');
            let fileInput = document.getElementById('file');

            cloudImg.src = "/static/images/cloud.png";
            fileText.innerText = "Drop your file or click here to browse";
            limitText.innerText = "(Upload file below 800 KB)";
            fileInput.value = "";
        }
        function submitFile(){
                let fileInput = document.getElementById('file');
                let limitText = document.getElementById('limit-text');
                let loader = document.getElementById("loader-wrapper");
                let form = document.getElementById("form");
                if(fileInput.files.length == 0 && limitText.innerText == ""){
                    resetStyle();
                    alert("Select file again!");
                }
                else{
                    if(limitText.innerText != ""){
                        resetStyle();
                        alert("Please select file!");
                    }
                    else{
                        fname = fileInput.files[0].name;
                        {% if variable == "x2h" %}
                            if(!fname.endsWith(".xlsx")){
                                resetStyle();
                                alert("Select Only XLSX file!");
                            }
                            else{
                                loader.style.display = "flex";
                                form.submit();
                            }
                        {% elif variable == "c2h" %}
                            if(!fname.endsWith(".csv")){
                                resetStyle();
                                alert("Select Only CSV file!");
                            }
                            else{
                                loader.style.display = "flex";
                                form.submit();
                            }
                        {% elif variable == "h2x" %}
                            if(!fname.endsWith(".html")){
                                resetStyle();
                                alert("Select Only HTML file!");
                            }
                            else{
                                form.submit();
                            }
                        {% elif variable == "h2c" %}
                            if(!fname.endsWith(".html")){
                                resetStyle();
                                alert("Select Only HTML file!");
                            }
                            else{
                                form.submit();
                            }
                        {% endif %}
                    }
                }
            }
    </script>
</body>
</html>