<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Download</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
</head>
<body>
    {% if err != "0" %}
        <h3>{{html}}</h3>
    {% else %}
        <h1>Your HTML Code is here:</h1>
        <pre><code class="language-html">{{html}}</code></pre>
        <br>
        <form action="/download" method="post">
            <input type="hidden" name="html" value="{{html}}">
            <input type="hidden" name="name" value="{{name}}">
            <button type="submit">Download</button>
        </form>
    {% endif %}


<script>hljs.highlightAll();</script>


</body>
</html>