<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% if err != "0" %}
            Error
        {% else %}
            HTML Code
        {% endif %}
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <link rel="stylesheet" href="/static/css/download-css.css">
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.png">
</head>
<body>
    <a href="{{url_for('home')}}"><img src="/static/images/icon.png" alt="logo" id="logo"></a>
    <div class="wrapper-div">
    {% if err != "0" %}
        <h1 class="title-error-text" id="error-text">{{html}}</h1>
    {% else %}
        <h1 class="title-error-text" id="title-text">Generating HTML Code...</h1>
        <div id="header">
        <div>{{name}}.html</div>
            <div id="copy-container">
                <div id="copied"></div>
                <abbr title="Copy Code"><img src="/static/images/copy.png" alt="copy-button" id="copy-button" class="button" onclick="copyCode()"></abbr>
                <abbr title="Download File"><img src="/static/images/download.png" alt="download-button" id="download-button" class="button" onclick="download()"></abbr>
            </div>
        </div>
        <pre id="editor"><code class="language-html" id="htmlcode">
{{html}}
</code></pre>
        <br>
        <form action="/download" method="post">
            <input type="hidden" name="html" value="{{html}}">
            <input type="hidden" name="name" value="{{name}}">
            <button type="submit" id = "submitBtn" style="display:none;">Download</button>
        </form>
    {% endif %}
    </div>
    <footer>Developed by &copy; <a href="mailto:shahdishank24@gmail.com" target="_blank">Dishank Shah</a></footer>

    <script>
        hljs.highlightAll();
        window.onload = function(){
            document.getElementById('header').style.visibility = 'visible';
            document.getElementById('editor').style.visibility = 'visible';
            document.getElementById('title-text').innerText = "Generated HTML Code";
        }
        function copyCode() {
                    var text = document.getElementById('htmlcode');
                    navigator.clipboard.writeText(text.innerText);
                    document.getElementById('copied').innerText = "Copied!";
                    clr = setTimeout(removeText, 1000);
        }

        function removeText(){
            document.getElementById('copied').innerText = "";
        }

        function download(){
            document.getElementById('submitBtn').click();
        }
    </script>
</body>
</html>