<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

    <a href="{{url_for('convert', var = 'x2h', err = '0')}}"><button>XLSX TO HTML</button></a>
    <a href="{{url_for('convert', var = 'c2h', err = '0')}}"><button>CSV TO HTML</button></a>
    <a href="{{url_for('convert', var = 'h2x', err = '0')}}"><button>HTML TO XLSX</button></a>
    <a href="{{url_for('convert', var = 'h2c', err = '0')}}"><button>HTML TO CSV</button></a>

</body>
</html>